@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #fafafa;
}
.containers {
  max-width: 90%;
  margin: auto;
}
.NavLink {
  transition: 0.5s ease-in-out;
}
.filter-card .activeLine,
header nav .active {
  color: #10ac84;
  position: relative;
  transition: 0.5s ease-in-out;
}
.filter-card .activeLine::before,
header nav .active::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background: #10ac84;
  transition: 0.5s ease-in-out;
}
.filter-card .activeLine {
  color: #f75d34;
}
.filter-card .activeLine::before {
  background: #f75d34;
  top: 35px;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
li,
ul {
  list-style-type: none;
  text-decoration: none;
}
.primary-btn-outline,
.primary-btn,
.outline-btn {
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
  font-weight: 500;
  transition: 0.5s ease-in-out;
}
.outline-btn:hover {
  background-color: #000;
  color: #fff;
}
.primary-btn {
  border: none;
  background-color: #f75d34;
  color: #fff;
}
.primary-btn-outline {
  border: none;
  background-color: transparent;
  color: #f75d34;
  border: 1px solid #f75d34;
  font-size: 13px;
}

.slick-slide {
  padding: 10px;
}
